include include/_head.pug
include include/_mixin.pug
+navigantion()
main(role="main")
	.blog-inovatif#blog-inovatif
		.container
			section.header-blog.position-relative
				.content-header-blog
					h1.title-header-blog Inovativo Blog
					p Lorem ipsum dolor sit amet
				.img-bg-header.position-absolute
					img.img-fluid(src="dist/images/bg-header-blog.svg", alt="images")
				.img-bg-pandan.position-absolute
					img.img-fluid(src="dist/images/daun-pandan.png", alt="images")
			section.populer-post
				.title-section-post
					h1.mb-0 Popular Post
				.list-post
					.row
						.col-md-8
							.content-post.cpost-left
								.img-post.d-block
									img.img-fluid.w-100(src="dist/images/note.jpg", alt="images blog")
								time.updated-time(datetime="") 20 September 2018
								.title-post
									h1.mb-0 Lorem ipsum dolor sit amet consectures adipsing change everynone who loved they self
								p Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy...
						.col-md-4
							.row
								.col-md-12.col-sm-6.col-12
									.content-post.cp-right
										.img-post.d-block
											img.img-fluid.w-100(src="dist/images/book.jpeg", alt="images blog")
										time.updated-time(datetime="") 20 September 2018
										.title-post
											h1.mb-0 Lorem ipsum dolor sit amet consectures adipsing change everynone
								.col-md-12.col-sm-6.col-12
									.content-post.cp-right
										.img-post.d-block
											img.img-fluid.w-100(src="dist/images/book.jpeg", alt="images blog")
										time.updated-time(datetime="") 20 September 2018
										.title-post
											h1.mb-0 Lorem ipsum dolor sit amet consectures adipsing change everynone
			section.other-post
				.title-section-post
					h1.mb-0 Other Post
				.list-post
					.row
						.col-sm-4.col-6
							.content-post.cp-right
								.img-post.d-block
									img.img-fluid.w-100(src="dist/images/book.jpeg", alt="images blog")
								time.updated-time(datetime="") 20 September 2018
								.title-post
									h1.mb-0 Lorem ipsum dolor sit amet consectures adipsing change everynone
						.col-sm-4.col-6
							.content-post.cp-right
								.img-post.d-block
									img.img-fluid.w-100(src="dist/images/book.jpeg", alt="images blog")
								time.updated-time(datetime="") 20 September 2018
								.title-post
									h1.mb-0 Lorem ipsum dolor sit amet consectures adipsing change everynone
						.col-sm-4.col-6
							.content-post.cp-right
								.img-post.d-block
									img.img-fluid.w-100(src="dist/images/book.jpeg", alt="images blog")
								time.updated-time(datetime="") 20 September 2018
								.title-post
									h1.mb-0 Lorem ipsum dolor sit amet consectures adipsing change everynone
						.col-sm-4.col-6
							.content-post.cp-right
								.img-post.d-block
									img.img-fluid.w-100(src="dist/images/book.jpeg", alt="images blog")
								time.updated-time(datetime="") 20 September 2018
								.title-post
									h1.mb-0 Lorem ipsum dolor sit amet consectures adipsing change everynone
						.col-sm-4.col-6
							.content-post.cp-right
								.img-post.d-block
									img.img-fluid.w-100(src="dist/images/book.jpeg", alt="images blog")
								time.updated-time(datetime="") 20 September 2018
								.title-post
									h1.mb-0 Lorem ipsum dolor sit amet consectures adipsing change everynone
						.col-sm-4.col-6
							.content-post.cp-right
								.img-post.d-block
									img.img-fluid.w-100(src="dist/images/book.jpeg", alt="images blog")
								time.updated-time(datetime="") 20 September 2018
								.title-post
									h1.mb-0 Lorem ipsum dolor sit amet consectures adipsing change everynone
							
include include/_footer.pug