include _mixin.pug
footer.footer.d-flex
	.container.my-auto
		.content-footer.text-center.mx-auto
			h1 Ready to collaborate ?
			a.btn.btn-primary.btn-ctcus.text-white
				img.icon-ctcus(src="dist/images/icon-ctcus.svg", alt="icon-btn")
				| Contact Us
			label.cv.w-100 CV. INOVASI DIGITAL INDONESIA
			ul.list-inline
				li.list-inline-item
					a(href="").d-block
						img.shadow-out.img-fluid.icon-footer(src="dist/images/ig.svg")
				li.list-inline-item
					a(href="").shadow-out.d-block
						img.img-fluid.icon-footer(src="dist/images/edin.png")
				
script(type="text/javascript", src="dist/scripts/vendor/jquery/jquery.min.js")
//- jquery easing for animated scroll when a.nav-link click to scroll
script(type="text/javascript", src="dist/scripts/vendor/jquery.easing/jquery.easing.min.js")
//- popper for tooltip js
script(type="text/javascript", src="dist/scripts/modernizr.custom.28468.js")
script(type="text/javascript", src="dist/scripts/vendor/popper/popper.min.js")
script(type="text/javascript", src="dist/scripts/vendor/bootstrap/bootstrap.min.js")
script(type="text/javascript", src="dist/scripts/jquery.cslider.min.js")
script(type="text/javascript", src="dist/scripts/index.min.js")
|</body></html>