/*This CSS won't print because %equal-heights is never extended.*/
%equal-heights {
  display: flex;
  flex-wrap: wrap;
}

/*This CSS will print because %message-shared is extended.*/
%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}